html {
    scroll-behavior: smooth;
}

.fixed-top {
    top: 20px;
    left: 30px;
    font-size: 1.5rem;
}

.container-fluid {
    width: 100%;
    background-position: center;
    height: 100vh;
    background-size: cover;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}
table td {
    border-top: 1px solid #333333;
    padding: .7rem;
}

#landingContainer {
    /*background-image: url('/static/images/test2.jpg');*/
    
    /*background-color: red;*/
}

#aboutContainer {
    background-color: #525252;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

#aboutBox {
    padding-top: 7rem;
    padding-bottom: 2rem;
}

#valuesList > li {
    padding-top: 10px;
    text-align: center;
    list-style: inside;
    transform: translateX(-2.4rem);
}

#aboutContainer > h3 {
    color: rgb(179, 178, 178);
}

.footer {
    background-color: rgb(29, 29, 29);
    padding-top: 5rem;
}

p {
    color: rgb(179, 178, 178);
    font-size: 1.3rem;
    padding-bottom: 20px;
}

h1 {
    position: relative;
    padding-top: 45vh;
    letter-spacing: 16px;
    font-size: 2.6rem;
    color: black;
    font-weight: 400;
    align-self: center;
}

h3 {
    font-weight: inherit;
    color: rgb(66, 66, 66);
    align-self: center;
}

#shortDesc {
    padding-right: 10px;
}

body {
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
}