html {
    scroll-behavior: smooth;
}

.sticky-top {
    left: 30px;
    font-size: 2.1rem;
    color: black;
    background-color: white;
}

.nav-link {
    top: 0px;
    left: 0px;
    font-size: 2.1rem;
    color: black;
    padding-left: 2rem !important;
}

.container-fluid {
    width: 100%;
    background-position: center;
    height: 100vh;
    background-size: cover;
}

table.center {
    margin-top: 4.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}

table td {
    border-top: 1px solid #333333;
    padding: 1.3rem;
    font-weight: 500;
    font-size: 22px;
}

table th {
    border-bottom: 2px solid #525252;
    font-size: 26px;
}

#landingContainer {
    background-image: url('/static/images/Aidan.jpg');
    
    /*background-color: red;*/
}

/* #about::before {
    height: auto;
    content: '';
    display: block;
} */

#about {
    background-color: #525252;
    height: auto;
    padding-top: 40px;
    padding-bottom: 5rem;
    color: rgb(167, 167, 167);
}

#about h1 {
    color: rgb(178, 178, 178);
}

#aboutBox {
    padding-top: 7rem;
    padding-bottom: 2rem;
}

#valuesList > li {
    padding-top: 10px;
    text-align: center;
    list-style: inside;
    transform: translateX(-2.4rem);
}

#about > h3 {
    color: rgb(179, 178, 178);
}

#projects {
    height: auto;
    padding-bottom: 2.5rem;
    text-align: left;
}

#projects h4 {
    font-size: 28px;
    font-weight: 600;
}

#projects h2 {
    padding-top: 2rem;
}

#projects ul {
    font-size: 22px;
    font-weight: 400;
}

#footer {
    background-color: rgb(29, 29, 29);
    padding-top: 5rem;
    padding-bottom: 5rem;
    height: auto;
}

#footer > .container-fluid {
    height: auto;
}

.footer h1 {
    padding: 1rem;
    color: rgb(167, 167, 167);
}

.footer ul {
    transform: translateX(-2rem);
}
.footer li {
    padding-right: 20px;
}

p {
    color: rgb(178, 178, 178);
    font-size: 1.4rem;
    padding-bottom: 20px;
}

h1 {
    position: relative;
    padding-top: 45vh;
    letter-spacing: 16px;
    font-size: 2.6rem;
    color: black;
    font-weight: 400;
    align-self: center;
}

h3 {
    font-weight: inherit;
    color: rgb(66, 66, 66);
    align-self: center;
}

#mainName {
    font-size: 3.5rem;
}

#shortDesc {
    font-size: 2.1rem;
    padding-right: 10px;
}

body {
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
}

#postHeader {
    text-align: center;
    padding-top: 1.2rem;
    padding-bottom: 2rem;
}

#postsContainer {
    position: absolute;
    background-color: white;
    height: relative;
    padding-bottom: 10rem;
    position: sticky;
    width: 70rem;
}

#post {
    position: relative;
    bottom: 4rem;
    top: 4rem;
    margin-left: 3rem;
    margin-right: 3rem;
    border: 1px solid rgb(167, 167, 167);
    width: auto;
    text-indent: 3.5rem;
}


#postContent {
    color: rgb(29, 29, 29);
    font-weight: 400;
    padding-left: 4rem;
    padding-right: 4rem;
}

#blog {
    background-color: rgb(66, 66, 66);
}