{% extends "layout.html" %}
{% block content %}
<div class="container" id="postsContainer">
    <div class="container" id="blogDesc">
        <h2 class="text-center"><i>A place for me to leave my thoughts</i></h2>
    </div>
    <hr>
    <div class="container" id="post">
        <h1 id='postHeader'>Living Essentially</h1>
        <p id='postContent'>
           One of the things in my life that has had a great impact on me as a person is 
           a concept that I learned through a book by Greg McKeown titled <i><a href="https://www.amazon.com/Essentialism-Disciplined-Pursuit-Greg-McKeown/dp/0804137382">Essentialism: The Disciplined Pursuit of Less</a></i>.
           In it, the author talks about how we as individuals live in a way where we constantly need more.
           More friends, more distractions, more stuff. Yet the majority of people live unsatisfied by
           this ever-increasing amount of things. The idea of the book is to live based
           off of that which we each individually find to be essential. For me, this means
           to live in way that promotes the things I care about most: being outside, spending 
           time with friends and loved ones, the pursuit of creating and learning, and inviting
           things into my life that bring me value.
        </p>
        <p id='postContent'>
            From this, I have found that I've felt more fulfilled in my day-to-day life.
            It allows me to have a clearer image of what I want to pursue, and also of 
            that which I am better off without. 
        </p>
    </div>
</div>
{% endblock content %}