{% extends "layout.html" %}
{% block content %}
    <div class="container-fluid border-bottom text-center" id="landingContainer">
        <a name='home'></a>
        <h1 id="mainName">Aidan Farber</h1>
        <h3 id="shortDesc">Aspiring full-stack developer</h3>
    </div>
    <div class="container-fluid border-bottom text-center" id="about">
        <a name='about'></a>
        <h1 id="aboutBox">About Me</h1>
        <div class="container">
            <p>I'm Aidan, a full-time student studying Computer Science. I'm passionate about self-improvement, and am always pushing myself out of my comfort zone to experience new things, meet new people, and grow as an individual. When it comes to work, I thoroughly enjoy working with others and I will never pass up a chance to expand my skillset when presented with a chance. For anything pertaining to my hobbies, like hiking, piano, and others, it's best to see my social media pages!</p>
        </div>
        <h3>I value a number of things like...
            <ul id="valuesList">
                <li>Living Essentially</li> 
                <li>Respect</li>
                <li>Continuous Learning</li>
                <li>Curiousity</li>
            </ul>
        </h3>
    </div>
    <div class="container-fluid border-bottom text-left" id="projects">
        <div class="container">
            <table class="table center">
                <!-- <colgroup span="4" class="projectTable"></colgroup> -->
                <tr>
                    <th>Project Name</th>
                    <th>Description</th>
                    <th>Language Used</th>
                </tr>
                <tr>
                    <td>Personal Website</td>
                    <td>This site was coded entirely by myself using Flask, HTML, and CSS (with Bootstrap 4)</td>
                    <td>Python, CSS, and HTML</td>
                </tr>
                <tr>
                    <td>Product Webscrapper</td>
                    <td>I built a small app using Beautiful Soup 4 to find the best deals on any linked product</td>
                    <td>Python</td>
                </tr>
            </table>

            <h4>Things I'll be teaching myself in the future:</h4>
            <ul>
                <li>Creating a backend to host my projects</li>
                <li>Machine Learning</li>
                <li>Automating my file systems</li>
                <li>Webscrapper application that tracks stocks over time</li>
            </ul>

            <h2>Download a copy of 
                <a href="{{ url_for('static', filename='Resume.pdf') }}" download>my resume</a>
            </h2>
        </div>
    </div>
{% endblock content %}